body {
    margin: 0;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
.container  h1 {
    color: #F21905;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.container  button {
    background-color: #D96459;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    margin: 30px;
    border: none;

}

.container button a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;

}

.selection {
    text-align: center;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:#F21905;
    font-size: 15px;
}

