body {
    margin: 0;
    background-color: #f2f2f2;
}

.container {
    height: 75vh;
}

.container h1 {
    text-align: center;
    margin-top: 100px;
    color: #F21905;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px
}

.history p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

footer {
    margin: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:#F21905;
    font-size: 15px;
    font-weight: bold;
}

